
<% attendances = @docket.attendances.map(&:kind).uniq %>

<table>
  <thead>
    <tr>
      <th rowspan='2'>ФИО студента</th>
      <% if attendances.any? %>
        <th colspan='<%= attendances.count %>'>Посещаемость</th>
      <% end %>
      <th rowspan='2'>Оценка</th>
      <th rowspan='2'>Должен изучать дисциплину?</th>
    </tr>
    <tr>
      <% if attendances.any? %>
        <% attendances.each do |attendance| %>
          <th><%= Attendance.kind_values[attendance] %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @docket.grades.sort_by{ |g| g.student }.each do |grade|%>
      <tr>
        <td><%= grade.student %></td>

        <% student_attendances = grade.student.attendances.where(:docket_id => @docket.id).order(&:kind) %>

        <% student_attendances.each do |attendance| %>
          <td class='center'>
            <%= attendance %>
          </td>
        <% end %>

        <% if (diff = student_attendances.count - attendances.count) < 0 %>
           <% diff.abs.times do %>
             <td class="center">&mdash;</td>
           <% end %>
        <% end %>

        <td class='center'><%= grade || '&mdash;'.html_safe %></td>
        <td class="center"><%= grade.active? ? 'да' : 'нет' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
