<% attendances = @docket.attendances.map(&:kind).uniq %>
<%= simple_form_for [parent, @docket] do |f| %>
  <table>
    <thead>
      <tr>
        <th rowspan='2'>ФИО студента</th>
        <% if attendances.any? %>
          <th colspan='<%= attendances.count %>'>Посещаемость</th>
        <% end %>
        <th rowspan='2'>Оценка</th>
        <% unless parent.is_a?(Lecturer) %>
          <th rowspan='2'>Должен изучать дисциплину?</th>
        <% end %>
      </tr>
      <tr>
        <% if attendances.any? %>
          <% attendances.each do |attendance| %>
            <th><%= Attendance.kind_values[attendance] %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :grades, f.object.grades.sort_by{ |g| g.student } do |sf| %>
        <tr>
          <td><%= sf.object.student %></td>
          <% student_attendances = sf.object.student.attendances.where(:docket_id => @docket.id).order(&:kind) %>
          <% student_attendances.each do |attendance| %>
            <td class='center'>
              <%= attendance %>
            </td>
          <% end %>

          <% if (diff = student_attendances.count - attendances.count) < 0 %>
            <% diff.abs.times do %>
              <td class="center">&mdash;</td>
            <% end %>
          <% end %>

          <td><%= sf.input :mark, label: false, :include_blank => '--- не выбрано ---' %></td>
          <% unless parent.is_a?(Lecturer) %>
            <td><%= sf.input :active, :label => false %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="buttons">
    <%= f.submit 'Сохранить' %>
    <%= link_to "Отмена", resource_path %>
  </div>
<% end %>
