<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <%= link_to @period.title, subdivision_dockets_path(@subdivision, :by_period => @period.id) %>
    </li>
  </ul>
</div>

<h1>Список ведомостей</h1>

<div class='search'>
  <div class='search_in_list_wrapper'>
    <%= simple_form_for :search do |f| %>
      <%= f.input :query, :label => false, :placeholder => 'Найти по преподавателю', :input_html => { :data => { :list => '.list.lecturers' } } %>
    <% end %>
  </div>
  <div class='link_to_file'>
    <% if File.directory?("#{@period.docket_path}/#{@subdivision.folder_name}") %>
      <%= link_to "Скачать ведомости", "#{@period.docket_path}/#{@subdivision.folder_name}/#{@subdivision.abbr_translit}.zip" %>
      <span>(данные обновляются каждые 3 часа)</span>
    <% end %>
  </div>
</div>

<ul class='list dockets'>
  <% @dockets.each do |docket| %>
    <li>
      <%= link_to [docket.discipline, "гр. #{docket.group}", docket.lecturer, (docket.kind_text.mb_chars.downcase if docket.kind)].compact.join(', '), [@subdivision, docket] %>
      <div class="errors">
        <span><%= 'не заполнена ведомость' unless docket.filled? %></span>
      </div>
    </li>
  <% end %>
</ul>
