<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <%= link_to @period.title, subdivision_dockets_path(@subdivision, :by_period => @period.id) %>
    </li>
  </ul>
</div>

<h1>Список ведомостей</h1>

<div class='search'>
  <div class='search_in_list_wrapper'>
    <%= simple_form_for :search do |f| %>
      <%= f.input :query, :label => false, :placeholder => 'Найти по преподавателю', :input_html => { :data => { :list => '.list.dockets' } } %>
    <% end %>
  </div>
  <div class='link_to_file'>
    <%= summary_dockets_link(@period, @subdivision, 'pdf') unless @period.not_session?%>
    <%= summary_dockets_link(@period, @subdivision, 'xlsx') if @period.not_session?%>
    <%= summary_dockets_link(@period, @subdivision, 'csv') if (@period.not_session? && @period.editable?) %>
  </div>
</div>

<ul class='list dockets'>
  <% @dockets.each do |docket| %>
    <li>
      <%= link_to [docket.discipline, "гр. #{docket.group}", docket.lecturer, (docket.kind_text.mb_chars.downcase if docket.kind)].compact.join(', '), [@subdivision, docket] %>
      <div class="errors">
        <span><%= 'не заполнена ведомость' unless docket.filled? %></span>
      </div>
    </li>
  <% end %>
</ul>
