<div class='breadcrumbs'>
  <ul>
    <% if can? :manage, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <% if @period.present? %>
      <li>
        <%= link_to @period.title, subdivision_dockets_path(@subdivision, :by_period => @period.id) %>
      </li>
    <% end %>
  </ul>
</div>

<h1>Список ведомостей</h1>

<div class='search'>
  <div class='search_in_list_wrapper'>
    <%= simple_form_for :search, :html => { :class => 'search_form' } do |f| %>
      <%= f.input :query,
        :label => false,
        :placeholder => 'Найти по названию предмета, номеру группы, преподавателю',
        :input_html => { :data => { :list => '.list.dockets' } } %>
    <% end %>
  </div>

</div>

<% if @period.present? %>
  <%= render :partial => 'list' %>
<% else %>
  <%= render :partial => 'grouped_list' %>
<% end %>
