<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <span>Список преподавателей</span>
    </li>
  </ul>
</div>

<h1>Список преподавателей</h1>

<div class='search'>
  <div class='search_in_list_wrapper'>
    <%= simple_form_for :search do |f| %>
      <%= f.input :query, :label => false, :placeholder => 'Найти по дисциплине, преподавателю или группе', :input_html => { :data => { :list => '.list.lecturers' } } %>
    <% end %>
  </div>
  <div class='link_to_file'>
    <% if File.directory?("#{@period.docket_path}/#{@subdivision.folder_name}") %>
      <%= link_to "Скачать ведомости", "#{@period.docket_path}/#{@subdivision.folder_name}/#{@subdivision.abbr_translit}.zip" %>
      <span>(данные обновляются каждые 3 часа)</span>
    <% end %>
  </div>
</div>

<ul class='list lecturers'>
  <% @subdivision.lecturers.each do |lecturer| %>
    <li>
      <%= link_to lecturer, lecturer_path(lecturer, :subdivision_id => @subdivision.id, :period_id => @period.id) %>
    </li>
<% end %>
</ul>
