<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <%= link_to 'Список преподавателей', subdivision_dockets_path(@subdivision, :period_id => @docket.period.id) %>
    </li>
    <li>
      <span><%= link_to "#{@docket.lecturer}, список ведомостей", lecturer_path(@docket.lecturer, :subdivision_id => @subdivision.id, :period_id => @docket.period.id) %></span>
    </li>
    <li>
      <span>Ведомость по предмету &laquo;<%= @docket %>&raquo;</span>
    </li>
  </ul>
</div>

<h1>Ведомость по предмету &laquo;<%= @docket %>&raquo;</h1>

<div class="actions">
  <%= link_to "Редактировать", edit_subdivision_docket_path(@subdivision, @docket) if @docket.period.actual? %>
  <%= link_to "Скачать CSV", subdivision_docket_path(@subdivision, @docket, format: :csv) %>
</div>

<div class='info'>Преподаватель: <%= @docket.lecturer || 'Не указано' %></div>
<div class='info'>Группа: <%= @docket.group %></div>

<% if @docket.period.actual? %>
  <div class="import_form_wrapper">
    <h4>Импорт CSV:</h4>
    <%= render 'import_form' %>
  </div>
<% end %>

<% attendances = @docket.attendances.map(&:kind).uniq %>

<table>
  <thead>
    <tr>
      <th rowspan='2'>ФИО студента</th>
      <% if attendances.any? %>
        <th colspan='<%= attendances.count %>'>Посещаемость</th>
      <% end %>
      <th rowspan='2'>Оценка</th>
      <th rowspan='2'>Должен изучать дисциплину?</th>
    </tr>
    <tr>
      <% if attendances.any? %>
        <% attendances.each do |attendance| %>
          <th><%= Attendance.kind_values[attendance] %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @docket.grades.sort_by{ |g| g.student }.each do |grade|%>
      <tr>
        <td><%= grade.student %></td>

        <% student_attendances = grade.student.attendances.where(:docket_id => @docket.id).order(&:kind) %>

        <% student_attendances.each do |attendance| %>
          <td class='center'>
            <%= attendance %>
          </td>
        <% end %>

        <% if (diff = student_attendances.count - attendances.count) < 0 %>
           <% diff.abs.times do %>
             <td class="center">&mdash;</td>
           <% end %>
        <% end %>

        <td class='center'><%= grade.mark || '&mdash;'.html_safe %></td>
        <td class="center"><%= grade.active? ? 'да' : 'нет' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
