<h1>Ведомость по предмету &laquo;<%= @docket %>&raquo;</h1>
<div>Преподаватель: <%= @docket.lecturer || 'Не указано' %></div>
<div>Группа: <%= @docket.group %></div>

<ul class='list'>
  <% @docket.grades.each do |grade|%>
    <li>
      <%= grade.student %>
    </li>
  <% end %>
</ul>
<%= link_to "Редактировать", edit_subdivision_docket_path(@docket) %>
