<div class='breadcrumbs'>
  <ul>
    <% if can? :manage, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <%= link_to @docket.period.title, subdivision_dockets_path(@subdivision, :by_period => @docket.period.id) %>
    </li>
  </ul>
</div>

<% if @docket.examination? %>
  <h1><%= t("docket.kind.#{@docket.kind}").gsub(/\n/,'') %> по предмету &laquo;<%= @docket %>&raquo;</h1>
<% else %>
  <h1>Ведомость по предмету &laquo;<%= @docket %>&raquo;</h1>
<% end %>

<div class="actions">
  <%= link_to "Редактировать", edit_subdivision_docket_path(@subdivision, @docket) if can? :edit, @docket %>
  <%= link_to "Скачать CSV", subdivision_docket_path(@subdivision, @docket, format: :csv) if can? :import, @docket %>
  <%= link_to "Скачать PDF", subdivision_docket_path(@subdivision, @docket, format: :pdf) if @docket.examination? %>
</div>

<div class='info'>Преподаватель: <%= @docket.lecturer || 'Не указано' %></div>
<div class='info'>Цикл дисциплины: <%= @docket.discipline_cycle_text %></div>
<div class='info'>Группа: <%= @docket.group %></div>

<% if can? :import, @docket %>
  <div class="import_form_wrapper">
    <h4>Импорт CSV:</h4>
    <%= render 'import_form' %>
  </div>
<% end %>

<%= render @docket %>
