<div class='breadcrumbs'>
  <ul>
    <li>
      <%= link_to 'Список периодов', periods_path %>
    </li>
    <li>
      <%= link_to @period, period_path(@period) %>
    </li>
    <li>
      <%= link_to "гр. #{@group}", period_group_path(@period, @group) %>
    </li>
  </ul>
</div>
<h1>Добавление ведомости для гр. <%= @group %></h1>
<%= simple_form_for [@period, @group, @docket] do |f| %>
  <div class='info'>
    <%= f.input :discipline %>
  </div>
  <div class='info'>
    <%= f.input :subdivision_id, :collection => Subdivision.all %>
  </div>
  <div class='info'>
    <%= f.input :providing_subdivision_id, :collection => Subdivision.all %>
  </div>
  <div class='info'>
    <% if can?(:change_lecturer, @docket) %>
      <%= f.input :lecturer_id, :collection => Lecturer.order(:surname).all, :label_method => :full_name %>
    <% else %>
      Преподаватель: <%= @docket.lecturer || 'Не указано' %>
  <% end %>
  <div class='info'>
    <%= f.input :kind %>
  </div>
  <div class='info'>
    <%= f.input :discipline_cycle %>
  </div>
</div>
<div class="buttons">
  <%= f.submit 'Сохранить' %>
  <%= link_to "Отмена", [@period, @group] %>
</div>
<% end %>
