<li>
  <div class='info'>
    <%= link_to "#{period.title}", subdivision_dockets_path(@subdivision, :by_period => period.id) %>
    <% if summary_dockets_links(period).any? %>
      <div class='links_to_file'>
        <%= link_to 'Скачать', '#', :class => 'download' %>
        <ul class='links'>
          <%= summary_dockets_links(period).join("\n").html_safe %>
        </ul>
      </div>
    <% end %>
    (<%= period.timescale %>)
  </div>
  <% if @subdivision.dockets.by_period(period.id).unfilled.any? %>
    <span class='filled_dockets'>
      не заполнено
      <%= I18n.t(:dockets, :count => @subdivision.dockets.by_period(period.id).unfilled.count) %> из
      <%= @subdivision.dockets.by_period(period.id).count %>
    </span>
  <% else %>
      все ведомости заполнены
  <% end %>
</li>
