<div class='breadcrumbs'>
  <ul>
    <%= render :partial => 'application/subdivisions_breadcrumbs' %>
    <li>
      <span><%= @subdivision %></span>
    </li>
  </ul>
</div>

<h1><%= @subdivision %></h1>

<%= link_to "Список преподавателей", subdivision_lecturers_path(@subdivision) unless @subdivision.title.match(/факультет/i) %>

<%= render :partial => 'application/warning' %>

<h2>Периоды</h2>

<div class='periods_list'>
  <ul class='list periods actual'>
    <% @periods.actual.each do |period| %>
      <%= render :partial => 'item', :locals => { :period => period } %>
    <% end %>
  </ul>
  <%= link_to_if @periods.closed.any?, "Архив", '#', :class => 'archive toggle_down' %>
  <ul class="list periods closed">
    <% @periods.closed.each do |period| %>
      <%= render :partial => 'item', :locals => { :period => period } %>
    <% end %>
  </ul>
</div>

<% if @periods_with_groups.any? %>
  <h2>Группы</h2>
<% end %>

<div class='groups_list'>
  <% @periods_with_groups.each do |course, groups| %>
    <span class="course_title"><%= course %> курс</span>
    <ul class="groups <%= course %>_course">
      <% groups.each do |group| %>
        <li>
        <%= link_to group.title, subdivision_period_group_path(@subdivision, Group.newest_period_for(group.title), group.title) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
