<div class='breadcrumbs'>
  <ul>
    <% if can? :manage, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <span><%= @subdivision %></span>
    </li>
  </ul>
</div>

<h1><%= @subdivision %></h1>

<%= link_to "Список преподавателей", subdivision_lecturers_path(@subdivision) unless @subdivision.title.match(/факультет/i) %>

<% if @subdivision.dockets.editable_unfilled(1).any? %>
  <h3>Необходимо заполнить <%= link_to I18n.t(:dockets, :count => @subdivision.dockets.editable_unfilled(1).count), subdivision_dockets_path(@subdivision, :editable_unfilled => true) %></h3>
<% end %>

<ul class='list periods'>
  <% @periods.each do |period| %>
    <li>
      <div class='info'>
        <%= link_to "#{period.title}", subdivision_dockets_path(@subdivision, :by_period => period.id) %>
        <% if summary_dockets_links(period).any? %>
          <div class='links_to_file'>
            <%= link_to 'Скачать', '#' %>
            <ul class='links'>
              <%= summary_dockets_links(period).join("\n").html_safe %>
            </ul>
          </div>
        <% end %>
        (<%= period.timescale %>)
      </div>
      <% if @subdivision.dockets.by_period(period.id).unfilled.any? %>
        <span class='filled_dockets'>
          не заполнено
          <%= I18n.t(:dockets, :count => @subdivision.dockets.by_period(period.id).unfilled.count) %> из
          <%= @subdivision.dockets.by_period(period.id).count %>
        </span>
      <% else %>
          все ведомости заполнены
      <% end %>
    </li>
  <% end %>
</ul>
