<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <span><%= @subdivision %></span>
    </li>
  </ul>
</div>

<h1><%= @subdivision %></h1>

<%= link_to "Список преподавателей", subdivision_lecturers_path(@subdivision) %>

<ul class='list periods'>
  <% @periods.each do |period| %>
    <% if @subdivision.dockets.by_period(period.id).any? %>
      <li>
        <%= link_to "#{period.title}", subdivision_dockets_path(@subdivision, :by_period => period.id) %>
        (<%= @subdivision.filled_dockets(period.id) %>/<%= @subdivision.dockets_count(period.id) %>)
      </li>
    <% end %>
  <% end %>
</ul>
