<div class='breadcrumbs'>
  <ul>
    <% if can? :index, Subdivision %>
      <li>
        <%= link_to 'Список обеспечивающих кафедр', subdivisions_path %>
      </li>
    <% end %>
    <li>
      <span><%= @subdivision %></span>
    </li>
  </ul>
</div>

<h1><%= @subdivision %></h1>

<%= link_to "Список преподавателей", subdivision_lecturers_path(@subdivision) %>

<ul class='list periods'>
  <% @periods.each do |period| %>
    <li>
      <div class='info'>
        <%= link_to "#{period.title}", subdivision_dockets_path(@subdivision, :by_period => period.id) %>
        (<%= period.timescale %>)
      </div>
      <span class='dockets'><%= I18n.t(:dockets, :count => @subdivision.dockets.by_period(period.id).count) %>, </span>
      <span class='filled_dockets'>заполнено <%= I18n.t(:dockets, :count => @subdivision.dockets.by_period(period.id).filled.uniq.count) %></span>
    </li>
  <% end %>
</ul>
