<h1><%= @subdivision %></h1>

<div class="search_in_list_wrapper">
  <%= simple_form_for :search do |f| %>
    <%= f.input :query, :label => false, :placeholder => 'Найти по дисциплине, преподавателю или группе', :input_html => { :data => { :list => '.list.dockets' } } %>
  <% end %>
</div>

<ul class='list dockets'>
  <% @subdivision.dockets.each do |docket| %>
    <li>
      <%= link_to [docket.discipline, "гр. #{docket.group}", docket.lecturer].join(', '), [@subdivision, docket]  %>
      <div class="errors">
        <span><%= 'не заполнена КТ' if docket.grades.map(&:mark).compact.empty? %></span>
      </div>
    </li>
  <% end %>
</ul>
