<h2>Группа <%= @group.title %>, <%= @period.title %></h2>
<%= link_to "предыдущий период", subdivision_period_group_path(@subdivision, @periods.prev) if @periods.prev %>
<%= link_to "следующий период", subdivision_period_group_path(@subdivision, @periods.next) if @periods.next %>
<table>
<thead>
  <tr>
    <td>№</td>
    <td>ФИО Студента</td>
    <% @consolidated_table.docket_disciplines.each do |d| %>
      <% if can?(:edit, d) %>
        <td><%= link_to d.discipline, subdivision_docket_path(d.subdivision, d) %></td>
      <% else %>
          <td><%= d.discipline %></td>
      <% end %>
    <% end %>
  </tr>
</thead>
<tbody>
  <% @consolidated_table.student_dockets_hash.each_with_index do |student, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= student[:student].full_name %></td>
      <% student[:dockets].each do |docket| %>
        <td><%= docket[:grades][:kt_1].to_s %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
