<div class='breadcrumbs'>
  <ul>
    <%= render :partial => 'application/subdivisions_breadcrumbs' %>
    <li>
      <span><%= link_to @subdivision, subdivision_path(@subdivision) %></span>
    </li>
    <li>
      <span>Группа <%= @group.title %>, <%= @period.title %></span>
    </li>
  </ul>
</div>

<div class='period_title'>
  <h2>Группа <%= @group.title %>, <%= @period.title %></h2>
</div>

<div class="period_navigation">
  <% if @periods.prev %>
    <%= link_to "&larr;".html_safe, subdivision_period_group_path(@subdivision, @periods.prev, @group.title), :class => 'button' %>
  <% else %>
    <span class="button disabled">&larr;</span>
  <% end %>
  <span class='go-to-select'>
    <%= select_tag :period, options_for_select(@periods.titles_with_urls, subdivision_period_group_url(@subdivision, @period, @group.title)), :include_blank => false, :class => 'select' %>
  </span>
  <% if @periods.next %>
    <%= link_to "&rarr;".html_safe, subdivision_period_group_path(@subdivision, @periods.next, @group.title), :class => 'button' %>
  <% else %>
    <span class="button disabled">&rarr;</span>
  <% end %>
  <div class="download_link">
    <%= link_to "Скачать PDF", subdivision_period_group_path(@subdivision, @period, @group.title, :format => :pdf) %>
    <%= link_to "Скачать XLSX", subdivision_period_group_path(@subdivision, @period, @group.title, :format => :xlsx) %>
  </div>
</div>

<div class='tables'>
  <div class="consolidated_table table_1">
    <table>
    <thead>
      <tr>
        <td class='number'>№</td>
        <td>ФИО Студента</td>
      </tr>
    </thead>
    <tbody>
      <% @consolidated_table.student_dockets_hash.each_with_index do |student, index| %>
        <tr>
          <td class='number'><%= index + 1 %></td>
          <td class='name'><%= student[:student].abbreviated_name %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
  <div class='consolidated_table table_2'>
    <table>
    <thead>
      <tr>
        <% @consolidated_table.docket_disciplines.each do |d| %>
          <% if can?(:edit, d) %>
            <td><%= link_to d.discipline, subdivision_docket_path(d.subdivision, d) %></td>
          <% else %>
              <td><%= d.discipline %></td>
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @consolidated_table.student_dockets_hash.each_with_index do |student, index| %>
        <tr>
          <% student[:dockets].each do |docket| %>
            <td class='grade'><%= docket[:grades][:kt_1].to_s %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
