<div class='breadcrumbs'>
  <ul>
    <%= render :partial => 'application/subdivisions_breadcrumbs' %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <%= link_to "Список преподавателей", subdivision_lecturers_path(@subdivision) %>
    </li>
  </ul>
</div>
<h1><%= @lecturer %></h1>
<%= simple_form_for [@subdivision, @lecturer, resource], :url => subdivision_lecturer_permissions_path do |f| %>
  <%= f.input :role, :as => :hidden, :input_html => { :value => "lecturer" }  %>
  <%= f.input :email,
              :input_html => { :class => 'need_autocomplete for_emails' },
              :label => 'Пользователь',
              :placeholder => 'Начните электронную почту' %>
  <%= f.input :user_id, :as => :hidden %>

  <div class="buttons">
    <%= f.submit 'Сохранить' %>
    <%= link_to 'Отмена', subdivision_lecturers_path(@subdivision) %>
  </div>
<% end %>
