<div class='breadcrumbs'>
  <ul>
    <%= render :partial => 'application/subdivisions_breadcrumbs' %>
    <li>
      <%= link_to @subdivision, subdivision_path(@subdivision) %>
    </li>
    <li>
      <span>Список преподавателей</span>
    </li>
  </ul>
</div>

<h1>Список преподавателей</h1>
<% if @lecturers.any? %>
  <table>
    <thead>
      <tr>
        <th>ФИО преподавателя</th>
        <th>Email</th>
        <th>Последний вход</th>
      </tr>
    </thead>
    <tbody>
      <% {}.tap do |h| @lecturers.each {|l| h[l] = l.permissions.first} end.each do |lecturer, permission| %>
        <tr>
          <td><%= lecturer %></td>
          <td class='center'>
            <% if permission %>
              <%= permission.user ? permission.user.email : permission.email %>
              <%= link_to "удалить", subdivision_lecturer_permission_path(@subdivision, lecturer, permission), :method => :delete, :confirm => 'Вы уверены?'  %>
            <% else %>
              <%= link_to "предоставить доступ", new_subdivision_lecturer_permission_path(@subdivision, lecturer) %>
            <% end %>
          </td>
          <td class='center'>
            <%= permission.try(&:user) ? l(permission.user.last_activity_at, :format => :short) : 'роль не активирована' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
